<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h2>Partecipazione al Mercato del Lavoro</h2>
    <img src="{{ url_for('main.grafico') }}" alt="Grafico esempio" style="max-width:800px; display:block; margin-bottom:30px;"/>

    <h2>Partecipazione al Mercato del Lavoro</h2>
    <img src="{{ url_for('main.grafico_occupazione_importanza') }}" alt="Grafico esempio" style="max-width:800px; display:block; margin-bottom:30px;"/>

    <h2>Distribuzione HP Pokémon</h2>
    <img src="{{ url_for('main.grafico_hp') }}" alt="HP Pokémon" style="max-width:800px; display:block; margin-bottom:30px;"/>

    <h2>Distribuzione dei tipi principali</h2>
    <img src="{{ url_for('main.grafico_tipi') }}" alt="Tipi Pokémon" style="max-width:800px; display:block; margin-bottom:30px;"/>

    <h2>Attacco vs Difesa</h2>
    <img src="{{ url_for('main.grafico_atkdef') }}" alt="Attacco vs Difesa" style="max-width:800px; display:block; margin-bottom:30px;"/>

    <h2>Attacco vs Difesa Leggendari</h2>
    <img src="{{ url_for('main.grafico_legendari') }}" alt="Attacco vs Difesa Leggendari" style="max-width:800px; display:block; margin-bottom:30px;"/>

  
</body>
</html>